.container{
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
                        "cabesera cabesera cabesera" 
                        "sidebar main main"
                        "sidebar seccion articulos" 
                        "pies pies pies";
    gap: 10px;
    
    background-color: rgb(75, 253, 99);

}
.cabesera{
    grid-area: cabesera;
    border: 1px solid black;
}
.sidebar{
    grid-area: sidebar;
    border: 1px solid black;
}
.main{
    grid-area: main;
    border: 1px solid black;
}
.seccion{
    grid-area: seccion;
    border: 1px solid black;
}
.articulos{
    grid-area: articulos;
    border: 1px solid black;
}
.pies{
    grid-area: pies;
    border: 1px solid black;
}
@media (max-width: 600px) {
    .container{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
                            "cabesera" 
                            "main"
                            "seccion"
                            "articulos"
                            "pies";
    }
    .sidebar{
        position: fixed;
        left: 200px;
        top: 0px;
        height: 100vh;
        width: 200px;
        z-index: 1000;
        transition: 0.3s;
    }
}