.container{
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 180px auto auto 160px;
    grid-template-areas: 
                        "cabesera cabesera cabesera" 
                        "sidebar main main"
                        "sidebar seccion articulos" 
                        "pies pies pies";
    gap: 10px;
    
    background-color: rgb(134, 238, 181);

}
.cabesera{
    grid-area: cabesera;
    border: 1px solid black;
}
.sidebar{
    grid-area: sidebar;
    border: 1px solid black;
}
.main{
    grid-area: main;
    border: 1px solid black;
}
.seccion{
    grid-area: seccion;
    border: 1px solid black;
}
.articulos{
    grid-area: articulos;
    border: 1px solid black;
}
.pies{
    grid-area: pies;
    border: 1px solid black;
}