.container-bContact{
    background: linear-gradient(#4a90e2, #04070780);}
nav{
    background: linear-gradient(90deg, #4a90e2, #9871b9); /*Gradiante*/
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    justify-content: space-between;
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin-left: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}
nav a:hover{
    text-decoration: none;
    background-color: #ff6b6b;
    transform: scale(1.1);
}
section{
    padding: 50px 20px;
    text-align: center;
}
h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}
form{
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button{
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #3629eb;
}
.contact-info{
    margin-top: 30px;
    color: #555;
}
.contact-info a{
    color: #4a90e2;
    text-decoration: none;
}
.contact-info a:hover{
    text-decoration: underline;
}