
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr auto;
    grid-template-areas: 
    "name name name"
    "title title title"
    "menu menu menu"
    "btn-toggle btn-toggle btn-toggle";
}
.cabecera{
    
    padding: o;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
.name{
    display: flex;
    flex-direction: row;
    color: rgb(116, 62, 62);
    grid-area: name;
    padding: 0;
    text-align: center;
    overflow-wrap: break-word;
    
}
h1{
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
}
.title{
    color: rgb(229, 173, 173);
    grid-area: title;
    padding: 0;
    text-align: end;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu{
    grid-area: menu;
    padding: 0;
    text-align: center;
    overflow-wrap: break-word;
    color: rgb(127, 164, 235);
}
.navList{
    color: rgb(157, 226, 79);
    padding: 0;
    margin: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    grid-area: nav;

    
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    
}
nav ul li{
    margin-left: 20px;
    align-items: baseline;
}
.btn{ 
    text-decoration: none;
    color: rgb(90, 233, 178);
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 5px;
    align-items: baseline;
}
nav a:hover{
    text-decoration: none;
    background-color: #d8a1a1;
    transform: scale(1.1);
    
}
.btn-toggle{
    grid-area: btnDesplegable;
    padding: 0;
    text-align: center;
    overflow-wrap: break-word;
    
    
}
section{
    
    padding: 0;
    margin: 0;
}
.main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px; 
    flex-wrap: wrap;
}
.imgMain{
    width: 200px;
    height: 250px;
    float: right;
}

footer{
    font-size: 10px;
    text-align: center;
    
}