
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "name name name"
    "title title title"
    "menu menu menu";
}
.cabecera{
    
    padding: o;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
.name{
    color: rgb(0, 0, 0);
    grid-area: name;
    padding: 0;
    text-align: center;
    overflow-wrap: break-word;
    border: solid 1px;
    
}
.title{
    color: rgb(0, 0, 0);
    grid-area: title;
    padding: 0;
    text-align: center;
    overflow-wrap: break-word;
    border: solid 1px;
    
}
.menu{
    grid-area: menu;
    padding: 0;
    text-align: center;
    overflow-wrap: break-word;
    border: solid 1px;
    color: rgb(0, 0, 0);
}
.navList{
    color: rgb(0, 0, 0);
    padding: 10px 1%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    grid-area: nav;

    
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    
}
nav ul li{
    margin-left: 20px;
    align-items: baseline;
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: baseline;
}
nav a:hover{
    text-decoration: none;
    background-color: #ff6b6b;
    transform: scale(1.1);
    
}

section{
    
    border: solid 1px;
}
main{
    border: solid 1px;
    margin-right: 10px;
    padding-right: 10px;

}
img{
    width: 200px;
    height: 300px;
    float: left;
}

footer{
    font-size: 10px;
    text-align: center;
    
}