
header {
    grid-area: header;
    text-align: center;
}
.cabecera{
    display: space-around;
    padding: o;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    
   
    color: white;
}
.name{
    color: rgb(255, 255, 255);
    grid-area: name;
    padding: 0;
    text-align: center;
    overflow-wrap: break-word;
    border: solid 1px;
}
.title{
    color: rgb(255, 255, 255);
    grid-area: title;
    padding: 0;
    text-align: center;
    overflow-wrap: break-word;
    
}
nav{
    background: linear-gradient(90deg, #4a90e2, #9871b9); /*Gradiante*/
    color: white;
    padding: 10px 1%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    grid-area: nav;
    border: solid 1px;
    
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin-left: 20px;
    align-items: baseline;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    align-items: baseline;
}
nav a:hover{
    text-decoration: none;
    background-color: #ff6b6b;
    transform: scale(1.1);
    
}

section{
    grid-area: aside;
    border: solid 1px;
}
main{
    grid-area: main;
    border: solid 1px;
    margin-right: 10px;
    padding-right: 10px;

p{
    margin-left: 10px;
    color: rgb(244, 247, 248);
}

img{
    width: 170px;
    height: 300px;
    float: left;
}
}
footer{
    grid-area: footer;
    font-size: 10px;
    text-align: center;
    
}